
    $top_header:#999;
    $header_background:#f8f8f8;
    $white:#ffffff;
    $font_clr:#222;
    $black:black;
    $dark:black;
    $paragraph_clr:#2b2b2b;
    $theme_color:#ff4c3b; 
    $lato:'Lato', sans-serif;    
    $opensans: 'Open Sans', sans-serif;
